.header-container {
  background-color: #FFF;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  box-shadow: 0px 5px 15px rgba(0,0,0,.1);
}

.main-nav-container {
  display: flex;
  width: 95vw;
  max-width: 1170px;
  margin: 0px auto;
  justify-content: space-between;
  align-items: center;
}

.menu-nav {
  height: auto;
}

.menu-nav ul {
  display: flex;
  padding: 0px;
}

.menu-nav ul li {
  list-style-type: none;
  padding: 8px;
  transition: .3s all;
}

.menu-nav ul li > a {
  text-decoration: none;
  color: #324D67;
  letter-spacing: 2px;
  text-transform: capitalize;
  transition: 0.3s color;
  font-size: 1rem;
}

.menu-nav ul li > a:hover {
  color: #49A6ED;
}


.social-menu ul {
  display: flex;
  padding: 0px;
}

.social-menu ul li {
  list-style-type: none;
  padding: 8px;
}

.social-menu ul li > a {
  text-decoration: none;
  color: #49A6E9;
  letter-spacing: 2px;
  text-transform: capitalize;
  transition: 0.4s color;
  font-size: 1rem;
}

.social-menu ul li > a:hover {
  color: #A7D8FA;
}
.bar-container {
  display: none;
}

.bar-btn {
  background-color: transparent;
  border: none;
  outline: none;
  color: #49A6E9;
  font-size: 1.5rem;
  cursor: pointer;
  position: relative;
  transition: 0.6s all ease-in;
}

.bar-btn:hover {
  transform: rotate(90deg);
  color: #254C67;
}


@media screen and (max-width: 850px) {
  .main-nav-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .bar-container {
    display: block;
  }

  .logo-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95vw;
}

.menu-nav ul {
  display: flex;
  padding: 20px 0;
  flex-direction: column;
  width: 95vw;
  margin: 0;
}

  .menu-nav ul li:hover {
    color: #49A6ED;
    background-color: #A5D5F8;
    padding: 8px 0px 8px 16px;
    border-radius: 4px;
}

  .social-menu {
    display: none;
  }

  .menu-nav {
    height: 0px;
    overflow: hidden;
    transition: 0.5s height;
}
}